
# Web Framework & Interface
flask
markdown

# Computer Vision & Image Processing
ultralytics
Pillow

# Data Science & Machine Learning
pandas
numpy
scikit-learn
pickle5; python_version < "3.8"

# AWS & Database
boto3
PyMySQL
python-dotenv
sqlalchemy

# AI Agents & LLM Framework (Phidata)
phidata
groq

# Timezone Handling

backports.zoneinfo; python_version < "3.9"

